*{
    margin: 0 auto;
    padding: auto;
}

.wrapper{ 
    height: 60px; 
    padding: 15px 0; 
    display: flex; 
    width: 1200px; 

} 
.logo{ 
    height: 100%; 
    margin-right: 40px; 
} 
.left{ 
    margin-bottom: 60px; 
    color: rgb(0, 0, 0); 
    font-size: 18px; 
    line-height: 1.2; 
    font-weight: 500; 
} 
.middle{ 
  margin-left: 40px; 
 
   
} 
.btn{ 
  margin-left: 50px; 
  background-color: rgb(243, 243, 247); 
  color: rgb(92, 99, 112); 
  border: none; 
  border-radius: 9999px; 
  font-weight: 500; 
  width: 80px; 
  height: 40px; 
  margin-top: 10px; 
} 
.right{ 
  display: flex; 
  justify-content: space-between; 
  margin-left: 150px; 
  -webkit-font-smoothing: antialiased; 
  font-variant-ligatures: no-common-ligatures; 
} 
.dodo{ 
  padding-top: 18px; 
  font-weight: 500; 
} 
.call{ 
  padding-top: 10px; 
  text-decoration: none; 
  white-space: nowrap; 
  font-size: 15px; 
  line-height: 1.2; 
  color: rgb(153, 153, 153); 

} 
.min{ 
  padding-top: 10px; 
  text-decoration: none; 
  white-space: nowrap; 
  font-size: 15px; 
  line-height: 1.2; 
  color: black 

} 
.number{ 
  color: black; 
  text-decoration: none;  
  white-space: nowrap; 
  font-size: 10px; 
  line-height: 1.2; 
  font: inherit; 
  white-space: nowrap; 
  font-weight: 500; 

}